<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.github.yftx.test"
          android:versionCode="1"
          android:versionName="1.0-SNAPSHOT">

    <uses-sdk
            android:minSdkVersion="8"
            android:targetSdkVersion="14"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
            android:icon="@drawable/logo"
            android:label="@string/app_name"
            android:theme="@style/Theme.Test"
            android:name=".App"
            android:manageSpaceActivity="com.github.yftx.test.ui.AppSettingActivity"
            >
        <!--custom tag start -->
        <!--Log level-->
        <meta-data
                android:name="LOG_LEVEL"
                android:value="-1"/>
        <!--debug model -->
        <meta-data
                android:name="DEBUG"
                android:value="false"/>
        <!-- custom tag end -->


        <activity android:name=".ui.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.TestAutoCompleteDemo"/>
        <activity
                android:name=".ui.MiddleTitleFragmentActivity"
                android:theme="@style/Theme.MiddleTitle"/>
        <activity android:name=".ui.ShowPhoneMemoryActivity"/>
        <activity android:name=".ui.AppSettingActivity">
            <meta-data
                    android:name="category"
                    android:resource="@string/app_setting_lable"/>
            <intent-filter>
                <action android:name="com.todoroo.astrid.SETTINGS"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>
</manifest>

